<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="家庭播放器">
		<meta name="author" content="zsz">

		<title>

			家庭播放器 -- {{name}}

		</title>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<style>
			body { padding-top: 70px; }
			pre code { background: transparent; }
			@media (min-width: 768px) {
				.bs-docs-home .bs-social, 
				.bs-docs-home .bs-masthead-links {
					margin-left: 0;
				}
			}

		</style>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">家庭中心</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% for path in urldict %}
				{% if path['active'] %}
				<li class="active"><a href="{{path['url']}}">{{path['name']}}</a></li>
				{% else %}
				<li><a href="{{path['url']}}">{{path['name']}}</a></li>
				{% end %}
				{% end %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	</nav>
	<div class="control">
		<div class="container">
			<div class="row alert alert-info">
				<div class="col-xs-6 col-md-2">
					<div class="checkbox">
					<label class="text-primary">数目: {{len(musicList)}}</label>
				</div>
				<div class="checkbox">
					<button id="playmusic" type="button" class="btn btn-danger">播放</button>
				</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="checkbox">
						<label class="text-primary"><input id="allchecked" type="checkbox">全选</input></label>
				</div>
					<div class="checkbox">
						<label class="text-primary"><input id="randomplay" type="checkbox">随机播放</input></label>
				</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="checkbox">
						<label class="text-primary">音量: 50%</label>
						<div id="soundprog" class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
								<span class="sr-only">50% Complete</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="checkbox">
						<label class="text-danger">当前播放:</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for col in range(6) %}
			<div class="col-xs-6 col-md-2">
				{% set count=0 %}
				{% for item in musicList %}
				{% if count%6 == col %}
				<div class="checkbox">
					<label class="text-primary"><input class="songitem" data="{{item['path']}}" type="checkbox" {{item['checked']}}>{{item['name']}}</input></label>
				</div>
				{% end %}
				{% set count += 1 %}
				{% end %}
			</div>
			{% end %}
	</div>
</body>

<script>
	$(init('haha'));
	function init(msg){
		refreshstatus();
		$("#soundprog").bind("click", function(event){
			curDivX = $(this).offset()
			value = Math.round(((event.pageX - curDivX.left)/$(this).width())*100.0);
			value = Math.min(100, Math.max(0, value));
			$(this).parent().find("label").text("音量: " + value + "%");
			$(this).children().attr("aria-valuenow", value);
			$(this).children().attr("style", "width: " + value + "%");

			// set sound level.
			var data = new Object();
			data["cmd"] = "sound";
			data["sound"] = value;
			$.post("rest/play", JSON.stringify(data), function(data){
			});
		})

		$("#allchecked").bind("click", function(event){
			if ($(this).prop("checked")){
				$(".songitem").prop("checked", "checked");
			}
			else {
				$(".songitem:checkbox").prop("checked", "");
			}
		})
		if ($(".songitem:not(:checked)").length > 0){
			$("#allchecked").prop("checked", "");
		}
		else {
			$("#allchecked").prop("checked", "checked");
		}
		$(".songitem").bind("click", function(event){
			if ($(".songitem:not(:checked)").length > 0){
				$("#allchecked").prop("checked", "");
			}
			else {
				$("#allchecked").prop("checked", "checked");
			}
		})

		// play click
		$("#playmusic").bind("click", function(event){
			var songlist = $(".songitem:checked");
			var playlist = new Array();
			songlist.each(function(index){
				playlist.push($(this).attr("data"));
			});
			var data = new Object();
			data["cmd"] = "play"
			if (!$("#randomplay").prop("checked")){
				data["sort"] = "1";
			}
			data["sound"] = $("#soundprog").children().attr("aria-valuenow");
			data["playlist"] = playlist;
			//alert(JSON.stringify(data));
			$.post("/rest/play", JSON.stringify(data), function(data){
			});
		});

		setInterval(refreshstatus, 5000);

		// define
		function refreshstatus(){
			// refresh current music name.
			var data = new Object();
			data["cmd"] = "queryplayid";
			$.post("/rest/play", JSON.stringify(data), function(data){
				var result = JSON.parse(data);
				// show sound level
				value = result["sound"];
				value = Math.min(100, Math.max(0, value));
				var soundprog = $("#soundprog");
				soundprog.parent().find("label").text("音量: " + value + "%");
				soundprog.children().attr("aria-valuenow", value);
				soundprog.children().attr("style", "width: " + value + "%");
			});
		}
	}
	</script>
